*.pdf
*.fastq
*.fastq.gz
*.bam
*.bam.*
*.png
__pycache__/
*.pyc
OLD/
.~lock.*#
REDUNDANT/
homology_*/
USELESS/


# ----------------------------
# Novel ORF discovery outputs
# ----------------------------
novel_orf_discovery/candidate_orfs_*.tsv
novel_orf_discovery/candidate_orfs_*.xlsx
novel_orf_discovery/novel_orfs_*.fasta
novel_orf_discovery/novel_orfs_*.tsv
novel_orf_discovery/novel_orfs_*.xlsx
novel_orf_discovery/*.png
novel_orf_discovery/trypsin_digest/